Source: ros-turbulent-urdf
Section: misc
Priority: extra
Maintainer: Chris Lalancette <clalancette@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), libtinyxml-dev, ros-turbulent-ament-cmake-ros, ros-turbulent-ament-lint-auto, ros-turbulent-ament-lint-common, ros-turbulent-tinyxml-vendor, ros-turbulent-urdfdom, ros-turbulent-urdfdom-headers, ros-turbulent-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-turbulent-urdf
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libtinyxml-dev, ros-turbulent-tinyxml-vendor, ros-turbulent-urdfdom, ros-turbulent-urdfdom-headers, ros-turbulent-ros-workspace
Description: This package contains a C++ parser for the Unified Robot Description Format (URDF), which is an XML format for representing a robot model.
 The code API of the parser has been through our review process and will remain backwards compatible in future releases.
